
<app-navbar></app-navbar>

<div class="container ">
  <div style="margin-top:5%" class="col">
    <button  (click)="selectType('UID')" class="waves-effect waves-light btn">UID</button>
    <button  (click)="selectType('passport')" class="waves-effect waves-light btn">
      Passport</button>
    <button  (click)="selectType('PanCard')" class="waves-effect waves-light btn">
      Pancard</button>
  </div>

  <div *ngIf="isActive">
    <h1 class="page-header">{{type}}</h1>

    <br>
    <br>

    <form [formGroup]="form" name="blogForm" (submit)="onSubmitHandle()">
      <div class="form-group">
          <div class="input-field col s6">
              <img class="circle responsive-img" style="width:10% ;height:10%;" id="bannerImage" [src]="localUrl" *ngIf="localUrl">
          </div>
          <div class="input-field col s6">
              <input class="custom-file-upload" accept="image/*" type="file" (change)="showPreviewImage($event)">
          </div>
      </div>
      <div class="form-group">
        <div [ngClass]="{'has-success': form.controls.fullName.valid || form.controls.id.valid, 'has-error':form.controls.fullName.dirty  || form.controls.id.dirty && form.controls.fullName.errors || form.controls.id.errors}">
          <div class="row">
            <div class="input-field col s6">
              <input type="number" name="id" data-length="10" formControlName="id">
              <label for="id">ID No</label>
              <ul class="help-block">
                <li *ngIf="form.controls.id.dirty && form.controls.id.errors?.required">This Field is Required. </li>
                <li *ngIf="(form.controls.id.dirty && form.controls.id.errors?.minlength )|| (form.controls.id.dirty && form.controls.id.errors?.maxlength)">Max Length:50,Min Length:5 </li>
              </ul>
            </div>
            <div class="input-field col s6">
              <input type="text" name="fullName" data-length="10" formControlName="fullName">
              <label for="input_text">Fullname</label>
              <ul class="help-block">
                <li *ngIf="form.controls.fullName.dirty && form.controls.fullName.errors?.required">This Field is Required. </li>
                <li *ngIf="(form.controls.fullName.dirty && form.controls.fullName.errors?.minlength )|| (form.controls.fullName.dirty && form.controls.fullName.errors?.maxlength)">Max Length:50,Min Length:5 </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="Form-group">
        <div class=" col s6">
          <label>Date of Birth :</label>
          <input type="date" class="datepicker" name="DOB" formControlName="DOB" />

          <ul class="help-block">
            <li *ngIf="form.controls.DOB.dirty && form.controls.DOB.errors?.required">This Field is Required. </li>
          </ul>
        </div>
      </div>

      <div class="Form-group">
        <div [ngClass]="{'has-success': form.controls.address.valid,'has-error':form.controls.address.dirty && form.controls.address.errors}">
          <div class="row">
            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea" data-length="500" formControlName="address"></textarea>
              <label for="textarea1">Address</label>
            </div>
          </div>
          <ul class="help-block">
            <li *ngIf="form.controls.address.dirty && form.controls.address.errors?.required">This Field is Required. </li>
            <li *ngIf="(form.controls.address.dirty && form.controls.address.errors?.minlength )|| (form.controls.address.dirty && form.controls.address.errors?.maxlength)">Max Length:500,Min Length:5</li>
          </ul>
        </div>
      </div>
      <button [disabled]="processing || !form.valid" type="submit" name="button" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <div style="margin-top:5%" class="row dashBoardCard" *ngIf="!isActive && isProfilePresent">
    <div class="col s4 m4" *ngIf="profileInfo.UID">
      <div class="card blue-grey darken-1">
          <button class="pull-right" (click)="deleteProfileInfo('UID')" >X</button>
          <img style="width:30% ;height:30%;" *ngIf="profileInfo.UID.image" class=" circle responsive-img" [src]="profileInfo.UID.image">
        <div class="card-content white-text">
          <span class="card-title">UID</span>
          <p>Name : {{profileInfo.UID.fullName}}</p>
          <p>ID : {{profileInfo.UID.id}}</p>
          <p>Address: {{profileInfo.UID.address}}</p>
          <p>Date of Birth: {{profileInfo.UID.DOB | date}}</p>
        </div>
      </div>
    </div>
    <div class="col s4 m4" *ngIf="profileInfo.passport">
      <div class="card blue-grey darken-1">
          <button class="pull-right" (click)="deleteProfileInfo('passport')" >X</button>

          <img style="width:30% ;height:30%;" *ngIf="profileInfo.passport.image" class=" circle responsive-img" [src]="profileInfo.passport.image">
        <div class="card-content white-text">
          <span class="card-title">Passport</span>
          <p>Name : {{profileInfo.passport.fullName}}</p>
          <p>ID : {{profileInfo.passport.id}}</p>
          <p>Address: {{profileInfo.passport.address}}</p>
          <p>Date of Birth: {{profileInfo.passport.DOB | date}}</p>
        </div>
      </div>
    </div>
    <div class="col s4 m4" *ngIf="profileInfo.PanCard">
      <div class="card blue-grey darken-1">
          <button class="pull-right" (click)="deleteProfileInfo('PanCard')" >X</button>
          <img  style="width:30% ;height:30%;" *ngIf="profileInfo.PanCard.image" class=" circle responsive-img" [src]="profileInfo.PanCard.image">
        <div class="card-content white-text">
          <span class="card-title">PanCard</span>
          <p>Name : {{profileInfo.PanCard.fullName}}</p>
          <p>ID : {{profileInfo.PanCard.id}}</p>
          <p>Address: {{profileInfo.PanCard.address}}</p>
          <p>Date of Birth: {{profileInfo.PanCard.DOB | date}}</p>
        </div>
       
      </div>
    </div>
  </div>




  <div class="row show-hide-message" *ngIf="message ">
    <div [ngClass]="messageClass">
      {{message}}
    </div>
  </div>

</div>
