<app-admin-navbar>
</app-admin-navbar>
<div style="margin:2%" class="">

  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th>UID</th>
        <th>Pan Card</th>
        <th>Passport</th>
        <th>View</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let profile of profiles">
        <td>{{profile.user.email}}</td>
        <td>{{profile.user.fullName}}</td>
        <td *ngIf="profile.UID">{{profile.UID.id}}</td>
        <td *ngIf="!profile.UID">Not Created.</td>
        <td *ngIf="profile.PanCard">{{profile.PanCard.id}}</td>
        <td *ngIf="!profile.PanCard">Not Created.</td>
        <td *ngIf="profile.passport">{{profile.passport.id}}</td>
        <td *ngIf="!profile.passport">Not Created.</td>
        <th>
            <a [routerLink]="['/view-Profile/', profile._id]" ><button type="button" name="button" class="btn btn-sm btn-danger">View</button></a>
          </th>
        <th>
          <button  class="btn btn-info" (click)="deleteUserProfile(profile.user._id)">Delete</button>
        </th>
      </tr>
      <!-- <ngb-pagination (click)="getProfiles()" [collectionSize]="120" [(page)]="page" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination> -->

    </tbody>
  </table>

</div>
